.module {
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px outset #ffffff31;
  box-shadow: 0px 0px 10px inset #00000038;
  box-shadow: 5px 5px 10px #00000038;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil {
  width: 300px;
  height: 300px;
  display: flex;
  z-index: 2;
  display: flex;
  position: relative;
}

.centerAll {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.profile{
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 400;
  font-family: "Futerdam Knight", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  font-size: 50px;
  margin-top: 40px;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.488);
  z-index: -1;
  text-align: center;
  display: flex;
  position: relative;
}

.subname {
  color: white;
  font-weight: 800;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portada {
  display: flex;
  position: absolute;
  top: 0px;
  height: 100%;
  border-radius: 0px 25px 25px 0px;
  opacity: 50%;
  object-fit:cover;
  display: flex;
  color:rgba(255, 255, 255, 0.545);
  z-index: -1;
}

.centerAll h3{
  width: 80%;
  position: absolute;
  bottom: 0px;
  margin-top: 30px;
}