.centerAll {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.perfil {
  height: 250px;
  width: 250px;
}

.name {
  color: hsl(0, 0%, 100%, 0.8);
  display: flex;
  font-size: 3.2vw;
  font-weight: 400;
  padding: 0 20px;
  /* text-shadow: 0 0 15px rgba(0, 0, 0, 0.488); */
}

.subname {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.iam {
  font-weight: 200;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
}

.powergray {
  font-size: 2vw;
  font-weight: 300;
  width: 100%;
}

.subtitle {
  color: hsla(0, 0%, 100%, 0.8);
  line-height: 2vw;
  font-size: 1.6vw;
}

.textTitles {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
}

.portada {
  border-radius: 30px;
  display: flex;
  display: flex;
  height: 100%;
  opacity: 5%;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.centerAll h3 {
  bottom: 0px;
  margin-top: 30px;
  position: absolute;
  width: 80%;
}

@media (max-width: 750px) {
  .centerAll {
    flex-direction: column;
  }
  .perfil {
    height: 200px;
    width: 200px;
  }
  .subname h2,
  .power {
    font-size: 14px;
    line-height: 16px;
  }
  .powergray {
    font-size: 16px;
  }
  .power {
    font-size: 30px;
  }
  .subname {
    align-items: center;
  }
  .name {
    font-size: 24px;
  }
}

@media (max-height: 500px) {
  .perfil {
    height: 200px;
    width: 200px;
  }
  .name {
    font-size: 24px;
  }
  .power {
    font-size: 30px;
  }
  .subname {
    font-size: 15px;
  }
  .powergray {
    font-size: 22px;
  }
}
