.centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap:40px;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.perfil {
  width: 400px;
  height: 400px;
}

.name {
  display: flex;
  font-weight: 400;
  font-family: "Futerdam Knight", sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.488);
  text-align: center;
  margin-bottom: 20px;
}

.subname {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(204, 218, 255);
  font-weight: 800;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  gap:40px;
  width: 400px;

}
.subname h2{
  font-size: 30px;
  margin: 5px;
  color:rgb(196, 196, 196);
}

.power{
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 45px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.powergray{
  color: rgb(222, 222, 222);
  font-weight: 900;
  font-size: 30px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.portada {
  display: flex;
  position: absolute;
  top: 0px;
  height: 100%;
  border-radius: 30px;
  opacity: 5%;
  display: flex;
  z-index: -1;
}

.centerAll h3{
  width: 80%;
  position: absolute;
  bottom: 0px;
  margin-top: 30px;
}

@media (max-width: 750px){
  .centerAll{
    flex-direction: column;
  }
  .column{
    gap:20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .perfil {
    width: 200px;
    height: 200px;
  }
  .subname h2 , .power{
    font-size: 25px;
  }
  .powergray{
    font-size: 22px;
  }
  .power{
    font-size: 30px;
  }
}

@media (max-height: 500px){
  .perfil {
    width: 200px;
    height: 200px;
  }
  .name {
    font-size: 30px;
  }
  .power{
    font-size: 30px;
  }
  .subname{
    font-size: 15px;
  }
  .powergray{
    font-size: 22px;
  }
}