.module {
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px outset #ffffff31;
  box-shadow: 0px 0px 10px inset #00000038;
  box-shadow: 5px 5px 10px #00000038;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
