.perfil {
  width: 300px;
  height: 300px;
  display: flex;
  z-index: 2;
  display: flex;
  position: relative;
}

.centerAll {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.profile{
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 400;
  font-family: "Futerdam Knight", sans-serif;
  font-size: 50px;
  margin-top: 40px;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.488);
  z-index: -1;
  text-align: center;
  display: flex;
  position: relative;
}

.subname {
  color: rgb(204, 218, 255);
  font-weight: 900;
  font-size: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  gap:15px;
}

.power{
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.portada {
  display: flex;
  position: absolute;
  top: 0px;
  height: 100%;
  border-radius: 0px 25px 25px 0px;
  opacity: 50%;
  display: flex;
  z-index: -1;
}

.centerAll h3{
  width: 80%;
  position: absolute;
  bottom: 0px;
  margin-top: 30px;
}

@media (max-width: 750px){
  .centerAll{
    flex-direction: column;
  }
  .column{
    gap:20px;
    margin-top: 30px;
  }
}