.module {
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px outset #ffffff31;
  box-shadow: 0px 0px 10px inset #00000038;
  box-shadow: 5px 5px 10px #00000038;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 20px outset #ffffff31;
  display: flex;
  z-index: 2;
}

.centerAll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.name {
  font-weight: 500;
  font-family: "Futerdam Knight", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  font-size: 60px;
  margin-top: 40px;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.488);
  z-index: -1;
  text-align: center;
}

.subname {
  color: rgb(25,47,89);
  font-weight: 800;
  margin-top: 50px;
  font-size: 20px;
}

.portada {
  display: flex;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 300px;
  border-radius: 25px 25px 0px 0px;
  opacity: 30%;
  object-fit:cover;
  background-color: rgb(0,101,255);
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-weight: 900;
  color:rgba(255, 255, 255, 0.545);
}

.centerAll h3{
  width: 80%;
  position: absolute;
  bottom: 0px;
  margin-top: 30px;
}