.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.wrap{
  flex-wrap: wrap;
}

.merge {
  width: calc(100%);
  height: 100%;
  max-height: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  transition-duration: 0.7s;
  gap: 15px;
}

.separate {
  width: 0px;
  height: 0px;
  max-height: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 15px;
  bottom: -150%;
  transition-duration: 0.3s;
  z-index: -1;
}

.container {
  backdrop-filter: blur(50px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 5px 5px 10px #00000038;
  border: 2px outset #ffffff31;
  width: 95%;
  height: 95%;
  max-width: 1700px;
  max-height: 1000px;
  border-radius: 30px;
  display: flex;
  margin: 5px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}