.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.wrap{
  flex-wrap: wrap;
}

.merge {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  transition-duration: 0.7s;
  gap: 15px;
}

.separate {
  width: 0px;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 15px;
  bottom: -150%;
  transition-duration: 0.3s;
  z-index: -1;
}

.container {
  backdrop-filter: blur(50px) saturate(100%);
  background-image: linear-gradient(
    145deg,
    hsla(240, 100%, 27%, 0.6) 0%,
    hsla(293, 100%, 25%, 0.5) 26%,
    hsla(320, 100%, 33%, 0.4) 39%,
    hsla(334, 100%, 40%, 0.3) 50%,
    hsla(343, 100%, 45%, 0.4) 61%,
    hsla(10, 91%, 56%, 0.5) 74%,
    hsla(30, 100%, 48%, 0.6) 100%
  );;
  box-shadow: 5px 5px 10px #00000038;
  border: 2px outset #0000007a;
  width: 90%;
  height: 90%;
  border-radius: 30px;
  display: flex;
  margin: 5px;
  margin-bottom: 3%;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 750px){
  .container{
    margin-bottom: 10%;
  }
}