.logos{
  width: 40px;
  border-radius: 100px;
  transition-duration: 0.5s;

}

.logos:hover{
  box-shadow: 0px 0px 5px 5px rgb(51, 153, 254);
  background-color: rgb(51, 153, 254);
  transition-duration: 0.5s;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.title {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 30px;
}

.titleexp {
  font-family: "Oswald", sans-serif;
  color: rgb(51, 153, 254);
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
}

.text {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.job {
  width: 90%;
  height: auto;
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(51, 153, 254, 0.5)
  );
}

.centerprojects {
  width: 50%;
  height: 100%;
  flex-direction: column;
  border-radius: 30px 28px 28px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    rgba(51, 153, 254, 0.5),
    rgb(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  z-index: 2;
}

.exp {
  width: 50%;
  height: 100%;
  flex-direction: column;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient( 270deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(51, 153, 254, 0.5)
  );
}

.imgproject {
  width: 90%;
  border-radius: 10px;
  transition-duration: 0.5s;
  object-fit: contain;
}

.imgproject:hover {
  filter: brightness(1.1);
  transition-duration: 0.5s;
  border-color: rgb(51, 153, 254);
  border-width: outset 2px;
  border-style: solid;
}

.project{
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.back {
  width: 100px;
  height: 30px;
  font-family: "Oswald", sans-serif;
  color: rgb(51, 153, 254);
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(51, 153, 254);
  background-color: rgba(255, 228, 196, 0);
  transition-duration: 0.3s;
}

.back:hover {
  background-color: rgb(51, 153, 254);
  color: white;
  transition-duration: 0.3s;
}

.next {
  width: 100px;
  height: 30px;
  font-family: "Oswald", sans-serif;
  color: white;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(51, 153, 254);
  background-color: rgb(51, 153, 254);
  z-index: 0;
  transition-duration: 0.3s;
}

.next:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 153, 254);
  transition-duration: 0.3s;
  border-color: rgb(255, 255, 255);
}

.backnext{
  margin: 20px;
}

.titleexp:hover{
  color:rgba(51, 153, 254, 0.6);
}


@media (max-width: 830px){
  .text{
      font-size: 13px;
  }
}

@media (max-width: 500px){
  .text{
      font-size: 15px;
      line-height: 15.5px;
  }
  .exp{
    justify-content: center;
  }
  .titleexp{
    font-size: 20px;
  }
  .backnext{
    flex-direction: column;
  }
  .centerprojects{
    padding: 20px;
  }
  .imgproject{
    width: 100%;
  }
}