.center-skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  gap: 5px;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 800px){
  .center-skill{
    flex-direction: column;
    justify-content: center;
  }
  .space{
    display: flex;
    justify-content: space-evenly;
  }
}
