.about-data {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 300px;
}

.interest {
  width: 50px;
  opacity: 80%;
  filter: hue-rotate(120deg);
}

.aboutimg {
  width: 100px;
  opacity: 80%;
}

.title {
  font-size: 30px;
  margin: 15px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.about-icon {
  align-items: center;
  background-color: rgba(51, 153, 254, 0.1);
  border-radius: 15px;
  display: flex;
  height: 20%;
  justify-content: space-evenly;
  width: 100%;
}

.about-icon img {
  width: 50px;
  transition-duration: 0.3s;
}

.aboutimg:hover {
  background-color: rgb(51, 153, 254);
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgb(51, 153, 254);
  transition-duration: 0.3s;
}

.about-resume {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.about-resume-out {
  align-items: center;
  border-radius: 30px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.inforesume {
  align-items: center;
  animation: about-in;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  width: 100%;
}

.inforesume-out {
  display: none;
  padding: 0px;
}

.leerimg {
  width: 100px;
  opacity: 80%;
}

.cv {
  align-items: center;
  background-color: rgba(51, 153, 254, 0.25);
  border: 2px outset #ffffff31;
  border-radius: 30px;
  display: flex;
  gap: 20px;
  height: 10%;
  justify-content: center;
  width: 100%;
  font-size: 1.6vw;
  transition-duration: 0.5s;
  color: rgb(255, 255, 255, 0.8);
}

.cv:hover {
  background-color: rgb(51, 153, 254);
  cursor: pointer;
  transition-duration: 0.5s;
}

.centerAbout {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 30px;
  justify-content: center;
  width: 100%;
  padding: 30px;
}

.flecha {
  border-radius: 50px 0px 0px 50px;
  display: flex;
  height: 50px;
  width: 30px;
  opacity: 80%;
}

.flecha:hover {
  background-color: rgb(51, 153, 254);
  transition-duration: 0.3s;
}

.flecha-izq {
  border-radius: 0px 50px 50px 0px;
  display: flex;
  height: 50px;
  width: 30px;
  opacity: 80%;
}

.flecha-izq:hover {
  background-color: rgb(51, 153, 254);
  transition-duration: 0.3s;
}

.more {
  align-items: center;
  animation: about-out;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 100%;
  min-width: 300px;
}

.download-icon {
  width: 30px;
  opacity: 80%;
}

@keyframes about-out {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes about-in {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 830px) {
  .about-icon,
  .about-data {
    padding: 10px;
    transition-duration: 1s;
    width: 100%;
    border-radius: 15px;
  }
  .cv {
    height: 20%;
    width: 100%;
    font-size: 4vw;
  }

  .leerimg {
    height: 7vh;
    width: auto;
  }

  .about-resume,
  .about-resume-out,
  .more,
  .inforesume {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  .cv {
    border-radius: 15px;
  }

  .leerimg {
    display: none;
  }

  .more {
    padding: 10px;
  }

  .inforesume p {
    padding: 10px;
  }

  .about-icon img {
    transition-duration: 1s;
    width: 30px;
  }

  .inforesume {
    gap: 10px;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
  }

  .centerAbout {
    flex-direction: column;
    transition-duration: 1s;
    gap: 10px;
    padding: 10px;
  }
  .interest {
    width: 30px;
  }
}
