.carrusel-container {
  align-items: center;
  border: 2px outset #ffffff31;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.course {
  border-radius: 10px;
  width: 100%;
}

.height {
  height: 100%;
  width: 80%;
}

.progress {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 20%;
  justify-content: center;
  width: 100%;
}

.link-certificate {
  align-items: center;
  background-color: rgba(51, 153, 254, 0.25);
  border: 2px outset #ffffff31;
  border-radius: 30px;
  display: flex;
  gap: 15px;
  height: 10%;
  justify-content: center;
  width: 100%;
}

.carpetaicon {
  width: 30px;
}

.link-certificate:hover {
  background-color: rgb(51, 153, 254);
  transition-duration: 0.5s;
}

@media (max-width: 800px) {
  .carrusel-container,
  .progress {
    align-items: center;
    border: none;
    display: flex;
    height: auto;
    justify-content: center;
    width: 70%;
  }
  .link-certificate {
    width: 95%;
  }
  .height {
    height: auto;
  }
  .space {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: space-between;
  }
}
