.centercontact {
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(0, 128, 0, 0.5),
    rgba(0, 0, 255, 0),
    rgba(51, 153, 254, 0)
  );
  border-radius: 28px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.formcontainer {
  align-items: center;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
  transition-duration: 2s;
  width: 50%;
}

.form {
  align-items: center;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
  transition-duration: 2s;
  width: 100%;
  padding: 15px 0;
}

.formout {
  align-items: center;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: center;
  transition-duration: 1s;
  width: 100%;
}

.input {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  border-radius: 30px;
  outline: none;
  padding: 20px;
  transition-duration: 1s;
  width: 100%;
}

.message {
  height: 50%;
  resize: none;
}

.team {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
  opacity: 50%;
  width: 300px;
}

.send {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(51, 153, 254);
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  color: white;
  font-weight: 600;
  text-align: center;
  transition-duration: 1s;
  width: 100px;
  font-size: 1.6vw;
  line-height: 5vh;
  display: flex;
  justify-content: center;
}

.send:hover {
  background-color: rgb(51, 153, 254);
  transition-duration: 0.4s;
  width: 100%;
}

.wspcontainer {
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(40, 167, 26);
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  transition-duration: 1s;
  width: 150px;
  line-height: 5vh;
}

.wspcontainer:hover {
  background-color: rgb(40, 167, 26);
  transition-duration: 0.4s;
  width: 100%;
}

.again:hover {
  background-color: rgb(51, 153, 254);
  transition-duration: 0.5s;
  width: 100%;
}

.itop {
  border-radius: 30px 30px 5px 5px;
}

.icenter {
  border-radius: 5px;
}

.ibottom {
  border-radius: 5px 5px 30px 30px;
}

.locked {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(51, 153, 254, 0.25);
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
  width: 100px;
}

.none {
  display: none;
  transition-duration: 0.5s;
}

.thanks {
  align-items: center;
  display: flex;
  font-size: 80px;
  height: 50%;
  justify-content: center;
  text-shadow: 0px 0px 5px white;
  transition-duration: 1s;
  width: 100%;
  z-index: 3;
}

.emailwsp {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 650px) {
  .centercontact {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
  }
  .team {
    height: 25%;
    width: auto;
  }

  .formcontainer,
  .formout {
    height: 55%;
    width: 100%;
  }
  
  .input {
    width: 100%;
  }

  .wspcontainer{
    width: 100px;
  }
}
