.center-skill {
  align-items: center;
  color: white;
  display: flex;
  gap: 15px;
  height: 100%;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

@media (max-width: 800px) {
  .center-skill {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
  .space {
    display: flex;
    justify-content: space-evenly;
  }
}
