.logos {
  border-radius: 100px;
  transition-duration: 0.5s;
  width: 40px;
  opacity: 80%;
}

.logos:hover {
  transition-duration: 0.5s;
  scale: 115%;
}

.links {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}

.title {
  color: hsl(0, 0%, 100%, 0.8);
  font-size: 2.5vw;
}

.titleexp {
  color: hsl(0, 0%, 100%, 0.8);
  font-size: 2vw;
  font-weight: 700;
  line-height: 3vw;
  margin-bottom: 7.5px;
}

.text {
  color: hsl(0, 0%, 100%, 0.8);
  font-size: 1.6vw;
  line-height: 3vh;
  text-align: start;
}

.m2 {
  margin: 30px 0;
}

.job {
  align-items: start;
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  padding: 14px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

.job:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

.centerprojects {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
}

.exp {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  padding: 14px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
}

.imgproject {
  border-radius: 8px;
  display: flex;
  object-fit: contain;
  transition-duration: 0.5s;
  width: max-content;
  box-shadow: inset -4px -4px 2px rgba(0, 0, 0, 0.5),
    inset 4px 4px 2px rgba(255, 255, 255, 0.4);
  padding: 4px;
  max-height: 350px;
}

.imgContainer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.clic {
  display: flex;
  width: 120px;
}

.desk-container {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
}
.desk {
  align-items: center;
  background-color: rgb(51, 153, 254);
  border-color: rgb(51, 153, 254);
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
  display: flex;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  transform: scale(0.4);
  width: 100%;
}

.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.back {
  color: rgb(255, 255, 255, 0.8);
  height: 100%;
  transition-duration: 0.3s;
  width: 50px;
}

.back:hover {
  color: white;
  transition-duration: 0.3s;
  scale: 115%;
}

.next {
  color: rgb(255, 255, 255, 0.8);
  height: 100%;
  transition-duration: 0.3s;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next:hover {
  color: #ffffff;
  transition-duration: 0.3s;
  scale: 115%;
}

.containerdirection {
  flex-direction: row;
  gap: 30px;
  padding: 30px;
}

@media (max-width: 830px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .text {
    font-size: 16px;
    line-height: 16px;
  }

  .titleexp {
    font-size: 20px;
  }

  .imgproject-desk {
    display: none;
  }

  .clic {
    display: none;
  }

  .desk {
    display: none;
  }

  .desk-container {
    display: none;
  }

  .centerprojects {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 50%;
  }
}

@media (max-width: 1090px) {
  .desk-container {
    width: 75%;
  }

  .desk {
    width: 1300px;
  }
}

@media (max-width: 920px) {
  .desk-container {
    width: 60%;
  }
  .desk {
    width: 1000px;
  }
}

@media (max-width: 790px) {
  .clic {
    display: none;
  }

  .m2 {
    margin: 15px 0;
  }

  .desk {
    display: none;
  }

  .desk-container {
    display: none;
  }

  .title {
    font-size: 20px;
  }

  .centerprojects {
    align-items: center;
    display: flex;
    height: 60%;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
  }

  .exp {
    border-radius: 10px;
    width: 100%;
    height: 40%;
    gap: 7.5px;
    padding: 7.5px;
  }

  .imgproject {
    border-radius: 5px;
    display: flex;
    object-fit: contain;
    transition-duration: 0.5s;
    width: 100%;
  }

  .containerdirection {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .job {
    border-radius: 7px;
  }

  .next,
  .back {
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row {
    margin: 5px !important;
  }
  .title {
    margin-top: 0;
  }
}
