.logos {
  border-radius: 100px;
  transition-duration: 0.5s;
  width: 40px;
}

.logos:hover {
  background-color: rgb(51, 153, 254);
  box-shadow: 0px 0px 5px 5px rgb(51, 153, 254);
  transition-duration: 0.5s;
}

.links {
  align-items: center;
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.title {
  color: white;
  font-size: 3vw;
}

.titleexp {
  color: rgb(51, 153, 254);
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 2vw;
}

.text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6vw;
  line-height: 5vh;
  text-align: start;
}

.job {
  align-items: start;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(51, 153, 254, 0.5)
  );
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  padding: 1vw;
  padding: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.centerprojects {
  align-items: center;
  background: linear-gradient(
    rgba(51, 153, 254, 0.5),
    rgb(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
}

.exp {
  align-items: center;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  padding: 15px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
}

.imgproject {
  border-radius: 10px;
  display: flex;
  object-fit: contain;
  transition-duration: 0.5s;
  width: 100%;
}

.clic {
  display: flex;
  width: 120px;
}

.desk-container {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: center;
}
.desk {
  align-items: center;
  background-color: rgb(51, 153, 254);
  border-color: rgb(51, 153, 254);
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
  display: flex;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  transform: scale(0.4);
  width: 100%;
}

.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.back {
  background-color: rgba(255, 228, 196, 0);
  border-color: rgb(51, 153, 254);
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  color: rgb(51, 153, 254);
  height: 30px;
  transition-duration: 0.3s;
  width: 100px;
}

.back:hover {
  background-color: rgb(51, 153, 254);
  color: white;
  transition-duration: 0.3s;
}

.next {
  background-color: rgb(51, 153, 254);
  border-color: rgb(51, 153, 254);
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  color: white;
  height: 30px;
  transition-duration: 0.3s;
  width: 100px;
  z-index: 0;
}

.next:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(51, 153, 254);
  transition-duration: 0.3s;
}

.titleexp:hover {
  color: rgba(51, 153, 254, 0.6);
}

.containerdirection {
  flex-direction: row;
  gap: 15px;
  padding: 15px;
}

@media (max-width: 830px) {
  .text {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .text {
    font-size: 12px;
    line-height: 20px;
  }

  .titleexp {
    font-size: 20px;
  }

  .imgproject-desk {
    display: none;
  }

  .clic {
    display: none;
  }

  .desk {
    display: none;
  }

  .desk-container {
    display: none;
  }

  .centerprojects {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 50%;
  }
}

@media (max-width: 1090px) {
  .desk-container {
    width: 75%;
  }
  
  .desk {
    width: 1300px;
  }
}

@media (max-width: 920px) {
  .desk-container {
    width: 60%;
  }
  .desk {
    width: 1000px;
  }
}

@media (max-width: 790px) {
  .clic {
    display: none;
  }

  .desk {
    display: none;
  }

  .desk-container {
    display: none;
  }

  .centerprojects {
    align-items: center;
    display: flex;
    height: 60%;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 15px;
  }

  .exp {
    border-radius: 15px;
    width: 100%;
    height: 40%;
    gap: 10px;
  }

  .imgproject {
    border-radius: 5px;
    display: flex;
    object-fit: contain;
    transition-duration: 0.5s;
    width: 100%;
  }

  .containerdirection {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .job {
    border-radius: 15px;
  }

  .next, .back {
  border-radius: 5px;
  color: white;
  height: 20px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
