.centerAll {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap:40px;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.profile{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.perfil {
  height: 400px;
  width: 400px;
}

.name {
  color: white;
  display: flex;
  font-family: "Futerdam Knight", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.488);
}

.subname {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap:40px;
  justify-content: center;
  width: 400px;
}
.subname h2{
  color:rgba(255, 255, 255, 0.7);
  font-size: 30px;
  margin: 5px;
}

.power{
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: 900;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.powergray{
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.portada {
  border-radius: 30px;
  display: flex;
  display: flex;
  height: 100%;
  opacity: 5%;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.centerAll h3{
  bottom: 0px;
  margin-top: 30px;
  position: absolute;
  width: 80%;
}

@media (max-width: 750px){
  .centerAll{
    flex-direction: column;
  }
  .perfil {
    height: 200px;
    width: 200px;
  }
  .subname h2 , .power{
    font-size: 25px;
  }
  .powergray{
    font-size: 22px;
  }
  .power{
    font-size: 30px;
  }
}

@media (max-height: 500px){
  .perfil {
    height: 200px;
    width: 200px;
  }
  .name {
    font-size: 30px;
  }
  .power{
    font-size: 30px;
  }
  .subname{
    font-size: 15px;
  }
  .powergray{
    font-size: 22px;
  }
}