
.language-container {
    width: 300px;
    height: 100px;
    border: 2px outset #ffffff31;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Safari Chrome */
  progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 9px;
    height: 10px;
  }
  progress::-webkit-progress-value {
    background-color: #f3f3f3;
    background: rgb(51, 153, 254);
    border-radius: 9px;
  }
  /* firefox */
  progress::-moz-progress-bar {
    background-color: #f3f3f3;
    background: rgb(51, 153, 254);
    border-radius: 9px;
  }

  @media (max-width: 920px){
    .language-container{
      width: 95%;
    }
  }