.language-container {
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex-direction: row;

  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 32px;
  gap: 16px;
}
.level{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap:8px
}

/* Safari Chrome */
progress::-webkit-progress-bar {
  background: #f3f3f3;
  background-color: rgb(51, 153, 254);
  border-radius: 9px;
  height: 10px;
}

progress::-webkit-progress-value {
  background-color: rgb(51, 153, 254);
  background: #f3f3f3;
  border-radius: 9px;
}
/* firefox */
progress::-moz-progress-bar {
  background-color: rgb(51, 153, 254);
  background: #f3f3f3;
  border-radius: 9px;
}

progress::-moz-progress-value {
  background-color: rgb(51, 153, 254);
  background: #f3f3f3;
  border-radius: 9px;
}

@media (max-width: 920px) {
  .language-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    flex-direction: column;
  }
}
