.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.merge {
  align-items: center;
  bottom: 0%;
  display: flex;
  gap: 15px;
  height: 100%;
  justify-content: center;
  position: absolute;
  transition-duration: 0.7s;
  width: 100%;
}

.separate {
  align-items: center;
  bottom: -150%;
  display: flex;
  gap: 15px;
  height: 0px;
  justify-content: center;
  position: absolute;
  transition-duration: 0.3s;
  width: 0px;
  z-index: -1;
}

.container {
  backdrop-filter: blur(50px);
  border-radius: 30px;
  display: flex;
  height: 90%;
  margin-bottom: 40px;
  width: 90%;
  background: linear-gradient(
    135deg,
    hsla(210, 99%, 80%, 0.3),
    hsl(210, 99%, 60%, 0.4),
    hsla(210, 99%, 10%, 0.3)
  );
  box-shadow: 0px 0px 10px hsl(216, 58%, 50%),
    inset 2px 2px 2px hsl(216, 58%, 75%), inset 0px 0px 10px hsl(216, 58%, 75%);
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .container,
  .separate {
    border-radius: 15px;
  }
  .column {
    gap: 10px;
  }
}
