.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.merge {
  align-items: center;
  bottom: 0%;
  display: flex;
  gap: 15px;
  height: 100%;
  justify-content: center;
  position: absolute;
  transition-duration: 0.7s;
  width: 100%;
}

.separate {
  align-items: center;
  bottom: -150%;
  display: flex;
  gap: 15px;
  height: 0px;
  justify-content: center;
  position: absolute;
  transition-duration: 0.3s;
  width: 0px;
  z-index: -1;
}

.container {
  backdrop-filter: blur(50px) saturate(100%);
  background-image: linear-gradient(
    145deg,
    hsla(240, 100%, 27%, 0.6) 0%,
    hsla(293, 100%, 25%, 0.5) 26%,
    hsla(320, 100%, 33%, 0.4) 39%,
    hsla(334, 100%, 40%, 0.3) 50%,
    hsla(343, 100%, 45%, 0.4) 61%,
    hsla(10, 91%, 56%, 0.5) 74%,
    hsla(30, 100%, 48%, 0.6) 100%
  );
  border-radius: 30px;
  box-shadow: 5px 5px 10px #00000038;
  display: flex;
  height: 90%;
  margin: 5px;
  margin-bottom: 3%;
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: -2px;
  width: 90%;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .container {
    margin-bottom: 10%;
  }
  .column {
    gap: 10px;
  }
}
