.nav {
  width: 290px;
  height: 50px;
  backdrop-filter: blur(50px) saturate(100%);
  border: 2px outset #ffffff31;
  box-shadow: 0px 0px 10px inset #00000038;
  box-shadow: 5px 5px 10px #00000038;
  border-radius: 30px 30px 30px 30px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 7.5px;
  padding-right: 7.5px;
  position: absolute;
  bottom: 0;
  right: calc(50% - 145px);
  z-index: 2;
  margin-bottom: 5px;
}

.nav img {
  width: 35px;
  transition-duration: 0.5s;
}


.nav button {
  display: flex;
  position: relative;
  outline: none;
  border-radius: 100px;
  transition-duration: 0.5s;
}

.nav button:focus {
  border-style: solid;
  box-shadow: 0px 0px 4px 4px rgb(0, 102, 255);
  transition-duration: 0.5s;
}

.button {
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menutext {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  padding: 5px;
  height: 35px;
  font-family: "Oswald", sans-serif;
  transition-duration: 0.4s;
  font-size: 10px;

}

.menutext:hover {
  display: flex;
  opacity: 100;
  background-color: rgb(51, 153, 254);
  position: absolute;
  border-radius: 100px 100px 100px 100px;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  bottom: 0px;
}