.nav {
  align-items: center;
  backdrop-filter: blur(50px) saturate(100%);
  border-radius: 35px;
  bottom: 0;
  background-color: hsla(210, 98%, 80%, 0.1);
  box-shadow: 8px 8px 50px hsl(210, 99%, 10%),
    inset -2px -2px 8px hsl(210, 99%, 10%), inset 2px 2px 8px hsl(210, 99%, 80%);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 8px;
  position: absolute;
  right: calc(50% - 139px);
  z-index: 2;
}

.nav img {
  transition-duration: 0.5s;
  width: 35px;
}

.nav button {
  border-radius: 100px;
  display: flex;
  outline: none;
  position: relative;
  transition-duration: 0.5s;
}

.buttonfocus {
  border-style: solid;
  box-shadow: 0px 0px 4px 4px rgb(0, 102, 255);
  transition-duration: 0.5s;
  margin: 0 4px;

}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  position: relative;
  margin: 0 4px;
}

.menutext {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 35px;
  justify-content: center;
  opacity: 0;
  padding: 5px;
  position: absolute;
  z-index: 10;
  transition-duration: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 30px black;
  border-radius: 100px 100px 100px 100px;
  background-color: rgb(51, 153, 254);
}

.button:hover .menutext {
  opacity: 100;
  transition-duration: 0.5s;
}

.buttonesen {
  background-color: rgba(255, 255, 255, 0.3);
  transition-duration: 0.5s;
  border-radius: 100px;
  margin: 0 4px;
}

.buttonesen:hover {
  background-color: rgb(51, 153, 254, 0.8);
}
