.nav {
  width: 270px;
  height: 43px;
  backdrop-filter: blur(50px) saturate(100%);
  border: 2px outset #ffffff31;
  box-shadow: 0px 0px 10px inset #00000038;
  box-shadow: 5px 5px 10px #00000038;
  border-radius: 30px 30px 0px 0px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-bottom: none;
  position: absolute;
  bottom: 0;
  right: calc(50% - 135px);
  z-index: 2;
}

.nav img {
  width: 35px;
  transition-duration: 0.5s;
}

.nav img:hover {
  cursor: pointer;
  width: 70px;
  transition-duration: 0.5s;
  position: absolute;
}

.nav button {
  display: flex;
  position: relative;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  transition-duration: 0.5s;
}

.nav button:focus {
  border-style: solid;
  box-shadow: 0px 0px 4px 4px rgb(0, 102, 255);
  transition-duration: 0.5s;
}

.button {
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menutext {
  display: flex;
  opacity: 0;
  position: absolute;
  padding: 4px;
  height: 80px;
  font-family: "Oswald", sans-serif;
  transition-duration: 0.4s;
}

.menutext:hover {
  display: flex;
  opacity: 100;
  box-shadow: 0px 0px 6px 2px rgb(0, 102, 255);
  background-color: rgb(51, 153, 254);
  position: absolute;
  border-radius: 100px 100px 100px 100px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  bottom: 0px;
}

/* a partir de aca */
/* .nav {
  width: 70px;
  height: 360px;
  backdrop-filter: blur(50px) saturate(100%);
  border: 2px outset #ffffff31;
  box-shadow: 0px 0px 10px inset #00000038;
  box-shadow: 5px 5px 10px #00000038;
  border-radius: 0px 40px 40px 0px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: none;
  position: absolute;
  z-index: 2;
}

.nav img {
  width: 50px;
}

.nav img:hover {
  cursor: pointer;
}

.nav button {
  display: flex;
  position: relative;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
}

.nav button:focus {
  border-style: solid;
  box-shadow: 0px 0px 4px 4px rgb(0, 102, 255);
}

.button {
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menutext {
  display: flex;
  opacity: 0;
  position: absolute;
  left: 0px;
  background-color: aqua;
  width: auto;
  padding: 10px;
  height: 50px;
  font-family: "Oswald", sans-serif;
  transition-duration: 0.4s;
}

.menutext:hover {
  display: flex;
  opacity: 100;
  box-shadow: 0px 0px 6px 2px rgb(0, 102, 255);
  background-color: rgb(51,153,254);
  position: absolute;
  transition-duration: 0.3s;
  border-radius: 100px 100px 100px 100px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
} */
