.nav {
  width: 70px;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border: 2px outset #ffffff31;
  box-shadow: 0px 0px 10px inset #00000038;
  box-shadow: 5px 5px 10px #00000038;
  border-radius: 0px 40px 40px 0px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-left: none;
}

.nav img {
  width: 50px;
}

.nav img:hover {
  cursor: pointer;
}

.nav button {
  display: flex;
  position: relative;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
}

.nav button:focus {
  border-style: solid;
  border-radius: 100px;
  box-shadow: 0px 0px 8px 9px rgb(36, 124, 255);
}

.button {
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menutext {
  display: flex;
  opacity: 0;
  position: absolute;
  left: 0px;
  background-color: aqua;
  width: 100px;
  height: 50px;
}

.menutext:hover {
  display: flex;
  opacity: 100;
  box-shadow: 0px 0px 6px 2px rgb(0, 102, 255);
  background-color: rgb(0, 102, 255);
  position: absolute;
  transition-duration: 0.3s;
  border-radius: 100px 100px 100px 100px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
