.skill-container {
  align-items: center;
  border: 2px outset #ffffff31;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.skill-item {
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgba(51, 153, 254, 0.102),
    rgb(255, 255, 255)
  );
  border-radius: 30px;
  display: flex;
  height: 5vh;
  justify-content: space-evenly;
  width: 40%;
}

.skill-item img {
  width: 30px;
}

.skill-item:hover {
  background: linear-gradient(
    45deg,
    rgb(51, 254, 75),
    rgba(51, 153, 254, 0.511),
    rgb(255, 255, 255)
  );
}

.skill {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media (max-width: 920px) {
  .skill-container {
    gap: 2px;
    width: 100%;
  }
  .skill-item p {
    display: none;
  }
  .skill-item {
    height: 70px;
    width: auto;
  }
}

@media (max-width: 800px) {
  .skill-container {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
  }

  .done {
    display: none;
  }

  .skill-item {
    height: 40px;
    width: 40px;
  }
}
