.skill-container {
  align-items: center;
  border: 2px outset #ffffff31;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: 90%;
  justify-content: center;
  width: 100%;
}

.skill-item {
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgba(51, 153, 254, 0.102),
    rgb(255, 255, 255)
  );
  border-radius: 30px;
  display: flex;
  height: 5vh;
  justify-content: space-evenly;
  width: 15vw;
}

.skill-item img {
  width: 25px;
}

.skill-item:hover {
  background: linear-gradient(
    45deg,
    rgb(51, 254, 75),
    rgba(51, 153, 254, 0.511),
    rgb(255, 255, 255)
  );
}

@media (max-width: 920px) {
  .skill-container {
    /* height: 100%; */
    gap: 2px;
    width: 100%;
  }
  .skill-item p {
    display: none;
  }
  .skill-item {
    height: 50px;
    width: auto;
  }
}

@media (max-width: 800px) {
  .skill-container {
    height: 100%;
    width: 95%;
  }
  .done {
    display: none;
  }
  .skill-item{
    height: 40px;
    width: 40px;
  }
}
