.app {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
}

video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  filter: blur(15px) contrast(110%) saturate(30%);
}
